Node-RED/Commande_LEDs.txt
[{"id":"6f507882.842ae8","type":"mqtt out","z":"49d6303a.246a2","name":"Controle Leds","topic":"stationUno/switchBleu","qos":"1","retain":"","broker":"fba2a46c.e41d78","x":900,"y":60,"wires":[]},{"id":"acad4ddb.1211b","type":"ui_switch","z":"49d6303a.246a2","name":"","label":"Led bleue","group":"9b5e8aff.d5aac8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":600,"y":60,"wires":[["6f507882.842ae8"]]},{"id":"278a96e0.32ffaa","type":"mqtt out","z":"49d6303a.246a2","name":"led verte","topic":"stationUno/switchVert","qos":"1","retain":"","broker":"fba2a46c.e41d78","x":880,"y":120,"wires":[]},{"id":"d84ecab9.4a1ec8","type":"ui_switch","z":"49d6303a.246a2","name":"","label":"Led verte","group":"9b5e8aff.d5aac8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":600,"y":120,"wires":[["278a96e0.32ffaa"]]},{"id":"3623fea8.fc7b42","type":"ui_button","z":"49d6303a.246a2","name":"","group":"9b5e8aff.d5aac8","order":0,"width":0,"height":0,"passthru":false,"label":"Led rouge ALLUMER","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"","x":640,"y":260,"wires":[["3e3fd9be.cdfa76"]]},{"id":"3e3fd9be.cdfa76","type":"mqtt out","z":"49d6303a.246a2","name":"","topic":"stationUno/switchRouge","qos":"1","retain":"","broker":"fba2a46c.e41d78","x":930,"y":260,"wires":[]},{"id":"f9a5d377.e231f","type":"ui_button","z":"49d6303a.246a2","name":"","group":"9b5e8aff.d5aac8","order":0,"width":0,"height":0,"passthru":false,"label":"Led rouge ETEINDRE","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"","x":640,"y":300,"wires":[["3e3fd9be.cdfa76"]]},{"id":"98369f25.fffc6","type":"ui_dropdown","z":"49d6303a.246a2","name":"","label":"Led Jaune","place":"Select option","group":"9b5e8aff.d5aac8","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Allumer","value":"ON","type":"str"},{"label":"Eteindre","value":"OFF","type":"str"}],"payload":"","topic":"","x":610,"y":380,"wires":[["b706306e.0670e"]]},{"id":"b706306e.0670e","type":"mqtt out","z":"49d6303a.246a2","name":"","topic":"stationUno/switchJaune","qos":"1","retain":"","broker":"fba2a46c.e41d78","x":910,"y":380,"wires":[]},{"id":"afe99ba0.c06118","type":"rpi-gpio in","z":"49d6303a.246a2","name":"poussoir","pin":"13","intype":"up","debounce":"25","read":true,"x":98,"y":58,"wires":[["efc29658.167848"]]},{"id":"efc29658.167848","type":"function","z":"49d6303a.246a2","name":"led pi","func":"if(msg.payload == 1)\n{\n    msg.payload = \"OFF\";\n    return msg;\n}","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["acad4ddb.1211b","d84ecab9.4a1ec8","98369f25.fffc6","3e3fd9be.cdfa76"]]},{"id":"fba2a46c.e41d78","type":"mqtt-broker","z":"","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9b5e8aff.d5aac8","type":"ui_group","z":"","name":"Allumer / Eteindre LEDS ","tab":"19bd8ec7.a35741","order":1,"disp":true,"width":"6"},{"id":"19bd8ec7.a35741","type":"ui_tab","z":"","name":"LEDS","icon":"dashboard","order":3}]