Node-RED/ESP12E.txt
[{"id":"c2e2ca51.fda908","type":"mqtt in","z":"b794e1af.c977d","name":"","topic":"stationEsp12/#","qos":"1","broker":"fba2a46c.e41d78","x":175,"y":289,"wires":[["bd56eba8.434538","bdfd9196.58e55"]]},{"id":"bd56eba8.434538","type":"function","z":"b794e1af.c977d","name":"temperature","func":"if(msg.topic == \"stationEsp12/temperature\")\n{   \n    //msg.payload = (msg.payload - 3);\n    //msg.payload = msg.payload + \" °C\";\n    return msg;\n}","outputs":1,"noerr":0,"x":508,"y":306,"wires":[["854e210c.31ef3"]]},{"id":"bdfd9196.58e55","type":"function","z":"b794e1af.c977d","name":"humidite","func":"if(msg.topic == \"stationEsp12/humidite\")\n{\n    msg.payload = (msg.payload);\n    //msg.payload = msg.payload + \" %\";\n    return msg;\n}","outputs":1,"noerr":0,"x":526,"y":380,"wires":[["ef76adb0.963b2"]]},{"id":"854e210c.31ef3","type":"ui_gauge","z":"b794e1af.c977d","name":"","group":"12df32a3.896ebd","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":743,"y":302,"wires":[]},{"id":"ef76adb0.963b2","type":"ui_gauge","z":"b794e1af.c977d","name":"Humidite","group":"12df32a3.896ebd","order":0,"width":0,"height":0,"gtype":"donut","title":"Humidite","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":728,"y":377,"wires":[]},{"id":"fba2a46c.e41d78","type":"mqtt-broker","z":"","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"12df32a3.896ebd","type":"ui_group","z":"","name":"Jauge","tab":"3243fb47.74cc54","order":1,"disp":true,"width":"6"},{"id":"3243fb47.74cc54","type":"ui_tab","z":"","name":"Exterieur","icon":"dashboard","order":5}]