Node-RED/Meteo_OpenWeatherMap.txt
[{"id":"2db14e84.162072","type":"openweathermap in","z":"e003cbff.700498","name":"thionville","wtype":"current","lon":"","lat":"","city":"thionville","country":"france","language":"fr","x":142,"y":95,"wires":[["dc530920.e158f8","a5438fa6.ee9f2","70c8a90.80dc658","7fd2f78c.1bc708"]]},{"id":"dc530920.e158f8","type":"ui_text","z":"e003cbff.700498","group":"170226e5.967ee9","order":0,"width":0,"height":0,"name":"localite","label":"Aujourd'hui :","format":"{{msg.payload.detail}}","layout":"row-spread","x":468,"y":91,"wires":[]},{"id":"a5438fa6.ee9f2","type":"debug","z":"e003cbff.700498","name":"","active":true,"console":"false","complete":"false","x":486,"y":309,"wires":[]},{"id":"c4fc24d9.77e748","type":"ui_date_picker","z":"e003cbff.700498","name":"","label":"date","group":"170226e5.967ee9","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":137,"y":205,"wires":[[]]},{"id":"70c8a90.80dc658","type":"ui_text","z":"e003cbff.700498","group":"170226e5.967ee9","order":0,"width":0,"height":0,"name":"","label":"température :","format":"{{msg.payload.tempc}} °C","layout":"row-spread","x":484,"y":140,"wires":[]},{"id":"7fd2f78c.1bc708","type":"ui_text","z":"e003cbff.700498","group":"170226e5.967ee9","order":0,"width":0,"height":0,"name":"","label":"température max : ","format":"{{msg.payload.temp_maxc}} °C","layout":"row-spread","x":499,"y":198,"wires":[]},{"id":"170226e5.967ee9","type":"ui_group","z":"","name":"THIONVILLE","tab":"3065569d.d5179a","order":1,"disp":true,"width":"6"},{"id":"3065569d.d5179a","type":"ui_tab","z":"","name":"METEO","icon":"dashboard","order":3}]