Node-RED/UNO_BME280.txt
[{"id":"cf86ac49.31407","type":"mqtt in","z":"b9afa1b8.87e81","name":"","topic":"stationUno/#","qos":"1","broker":"fba2a46c.e41d78","x":150,"y":40,"wires":[["f1981a3.ed394e8","10149f22.17f781","fd6e77eb.d981a8","6a6d7e34.b8c81","d5341bbf.a7eaa8"]]},{"id":"6a6d7e34.b8c81","type":"debug","z":"b9afa1b8.87e81","name":"","active":false,"console":"false","complete":"payload","x":1090,"y":40,"wires":[]},{"id":"f1981a3.ed394e8","type":"function","z":"b9afa1b8.87e81","name":"altitude filter","func":"if(msg.topic == \"stationUno/altitude\")\n{\n    msg.payload = msg.payload + \" metres\";\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["6a6d7e34.b8c81","3a7414c7.f8f8bc"]]},{"id":"10149f22.17f781","type":"function","z":"b9afa1b8.87e81","name":"temperature filter","func":"if(msg.topic == \"stationUno/temperature\")\n{\n    msg.payload = msg.payload -3;\n    msg.payload = msg.payload + \" °C\";\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["6a6d7e34.b8c81","f040b629.2c9d58","1372157d.3a670b","8bfde543.139e38"]]},{"id":"fd6e77eb.d981a8","type":"function","z":"b9afa1b8.87e81","name":"humidite filter","func":"if(msg.topic == \"stationUno/humidite\")\n{\n    msg.payload = msg.payload + \" %\";\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["6a6d7e34.b8c81","543bde11.7b829","2185acd6.c0e924"]]},{"id":"3a7414c7.f8f8bc","type":"ui_text","z":"b9afa1b8.87e81","group":"c292668a.c776e8","order":0,"width":0,"height":0,"name":"altitude UNO","label":"Altitude","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":84,"wires":[]},{"id":"f040b629.2c9d58","type":"ui_text","z":"b9afa1b8.87e81","group":"c292668a.c776e8","order":0,"width":0,"height":0,"name":"temperature UNO","label":"Temperature : ","format":"{{msg.payload}}","layout":"row-spread","x":1018,"y":182,"wires":[]},{"id":"3a7aa41f.b10bcc","type":"ui_text","z":"b9afa1b8.87e81","group":"c292668a.c776e8","order":0,"width":0,"height":0,"name":"pression UNO","label":"Pression : ","format":"{{msg.payload}}","layout":"row-spread","x":627,"y":405,"wires":[]},{"id":"543bde11.7b829","type":"ui_text","z":"b9afa1b8.87e81","group":"c292668a.c776e8","order":0,"width":0,"height":0,"name":"humidite","label":"Humidite : ","format":"{{msg.payload}}","layout":"row-spread","x":1006,"y":350,"wires":[]},{"id":"1372157d.3a670b","type":"ui_gauge","z":"b9afa1b8.87e81","name":"","group":"5b820ef4.46dfe","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature Laboratoire","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1042,"y":238,"wires":[]},{"id":"8bfde543.139e38","type":"ui_chart","z":"b9afa1b8.87e81","name":"","group":"dd2862f5.45a9d","order":0,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1008,"y":294,"wires":[[],[]]},{"id":"d5341bbf.a7eaa8","type":"function","z":"b9afa1b8.87e81","name":"pression","func":"if(msg.topic == \"stationUno/pression\")\n{\n    msg.payload = msg.payload /100;\n    msg.payload = msg.payload + \" hPa\";\n    return msg;\n}","outputs":1,"noerr":0,"x":421,"y":289,"wires":[["3a7aa41f.b10bcc"]]},{"id":"2185acd6.c0e924","type":"ui_gauge","z":"b9afa1b8.87e81","name":"","group":"5b820ef4.46dfe","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidite","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":434,"wires":[]},{"id":"fba2a46c.e41d78","type":"mqtt-broker","z":"","broker":"192.168.0.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c292668a.c776e8","type":"ui_group","z":"","name":"Mesures","tab":"caa7fa43.c54e78","order":1,"disp":true,"width":"6"},{"id":"5b820ef4.46dfe","type":"ui_group","z":"","name":"Jauge","tab":"caa7fa43.c54e78","order":2,"disp":true,"width":"6"},{"id":"dd2862f5.45a9d","type":"ui_group","z":"","name":"Graphique","tab":"caa7fa43.c54e78","order":3,"disp":true,"width":"6"},{"id":"caa7fa43.c54e78","type":"ui_tab","z":"","name":"Ambiance LABO","icon":"dashboard","order":2}]